.wrapper {
  display: flex;
  position: absolute;
}

.hum {
  position: relative;
  top: 85vh;
  left: 59vw;
  width: 16vw;
  height: 9vh;
  z-index: 5;
}

.air {
  position: relative;
  top: 85vh;
  left: -30vw;
  width: 16vw;
  height: 9vh;
  z-index: 5;
}

.temp {
  position: relative;
  top: 90.3vh;
  left: -23vw;
  width: 16vw;
  height: 9vh;
  z-index: 5;
}

.spin {
  position: relative;
  top: 90vh;
  left: -12vw;
  width: 14vw;
  height: 7vh;
  z-index: 5;
}

.help {
  position: absolute;
  top: 12vh;
  left: 7vw;
  width: 14vw;
  height: 7vh;
  z-index: 6;
}
