@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,400;1,500&display=swap");

@keyframes slide {
  0% {
    top: -200%;
  }

  100% {
    top: -0%;
  }
}

.wrapperInst {
  position: static;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.instructions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bgInst {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  position: absolute;
  background: white;
  width: 95%;
  height: 80%;
  border-radius: 0 0 60px 60px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 15;
}
.textAll {
  margin-top: 13%;
}
.infoInst {
  position: relative;
  font-family: "Exo 2", sans-serif;
  color: rgb(104, 104, 104);
  margin-left: 13%;
  text-align: left;
  font-size: 230%;
  z-index: 16;
}

.titleInst {
  margin-top: 11%;
  position: relative;
  font-family: "Exo 2", sans-serif;
  color: rgb(73, 73, 73);
  font-size: 400%;
  font-weight: 500;
  font-style: bold;
  z-index: 16;
}
.parametersInst {
  margin-top: 5%;
  position: relative;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 119, 7);
  font-size: 350%;
  font-weight: 500;
  font-style: italic;
  z-index: 17;
}
