body {
  background: rgb(42, 42, 42);
  background: linear-gradient(
    180deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(159, 159, 159, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  animation-name: fade;
  animation-duration: 4s;
  overflow: hidden;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  position: absolute;
  widows: 320px;
  height: 675px;
}

.incubator {
  position: absolute;
  top: -1vh;
  left: -4vw;
  width: 110vw;
  height: 100vh;
  z-index: 5;
}

.bottom {
  top: 64.5vh;
  left: 5vw;
  position: absolute;
  width: 97vw;
  height: 13vh;
  z-index: 3;
}

@keyframes spinReverse {
  0% {
    transform: rotate(-200deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.egg {
  position: absolute;
  top: 45vh;
  left: -7vw;
  width: 115vw;
  height: 50vh;
  z-index: 4;
  animation-name: spinReverse;
  animation-duration: 5s;
  transform: rotate(0deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-200deg);
  }
}

.eggSpin {
  position: absolute;
  top: 45vh;
  left: -7vw;
  width: 115vw;
  height: 50vh;
  z-index: 4;
  animation-name: spin;
  animation-duration: 5s;
  transform: rotate(-200deg);
}

.topui {
  position: absolute;
  transform: rotate(180deg);
  top: -3vh;
  left: -0.5vw;
  width: 100%;
  height: 15%;
  z-index: 1;
  opacity: 0.15;
}

.pad {
  position: absolute;
  top: 81vh;
  left: 0.07vw;
  width: 103vw;
  height: 21vh;
  z-index: 5;
}

.ui {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: -15%;
  margin-right: 6%;
  margin-left: 6%;
  z-index: 5;
}
