@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap");

.numbers {
  display: flex;
  justify-content: center;
}

.title {
  position: relative;
  font-family: "Exo 2", sans-serif;
  color: rgb(212, 212, 212);
  font-size: 350%;
}

.value {
  position: relative;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 350%;
}

.numberWarning {
  position: relative;
  font-family: "Exo 2", sans-serif, Light 300;
  color: rgb(240, 88, 83);
  font-size: 350%;
}
