@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap");

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.6;
  z-index: 10;
}

@keyframes click {
  0% {
    position: absolute;
    width: 40vw;
    height: 19vh;
    margin-top: 30vh;
    margin-left: 30vw;
  }
  100% {
    position: absolute;
    width: 35vw;
    height: 16vh;
    margin-top: 31vh;
    margin-left: 33vw;
  }
}

.playLogo {
  position: absolute;
  width: 40vw;
  height: 19vh;
  margin-top: 30vh;
  margin-left: 30vw;
}

.playLogo:hover {
  position: absolute;
  width: 40vw;
  height: 19vh;
  margin-top: 30vh;
  margin-left: 30vw;
  animation-name: click;
  animation-duration: 0.6s;
}

.description {
  position: relative;
  font-family: "Exo 2", sans-serif;
  color: rgb(212, 212, 212);
  font-size: 550%;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
  margin-top: 55vh;
  margin-left: 25vw;
}
