@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap");

.timer {
  display: flex;
  justify-content: center;
}

.days {
  top: 79vh;
  position: absolute;
  font-family: "Exo 2", sans-serif;
  color: rgb(241, 241, 241);
  font-size: 550%;
  text-align: right;

  z-index: 6;
}

.hours {
  top: 84.5vh;
  position: absolute;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 350%;
  text-align: right;

  z-index: 6;
}

.warning {
  font-family: "Exo 2", sans-serif, Light 300;
  color: rgb(240, 88, 83);
  font-size: 350%;
}
