.wrapper {
  position: absolute;
  background: black;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.thumb {
  position: absolute;
  top: 25%;
  left: 36%;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1200%;
  z-index: 10;
}
.textGameOver {
  position: relative;
  top: 40%;
  left: 17%;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 650%;
  z-index: 10;
}
